services:
  nextjs_dev:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs_dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development
      - GIT_REPO=https://github.com/Karthicrajamo/Harness-next-app.git
      - GIT_BRANCH=main
    command: npm run dev
    # Optional: volume mounts (not required with `develop.watch`, but ok to include)
    volumes:
      - .:/app
      - /app/node_modules
    develop:
      watch:
        - action: sync
          path: .
          target: /app
          ignore:
            - node_modules/
            - .next/
