/* src/styles/globals.css */

/* Red scrollbar styles */
/* .red-scrollbar::-webkit-scrollbar {
  height: 8px;
} */

/* .red-scrollbar::-webkit-scrollbar-track {
  background: hsl(101, 86%, 40%); 
  border-radius: 4px;
} */

/* .red-scrollbar::-webkit-scrollbar-thumb {
  background: #ef4444;
  border-radius: 4px;
} */

/* .red-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
} */

/* For Firefox */
.red-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e4ebf1 #f1f1ef;
}
